#define ZEDX_SENSOR_MODE0		mode0 { \
                                mclk_khz = "24000"; \
                                num_lanes = CAM_LANES_STRING; \
                                tegra_sinterface = TEGRA_SINTERFACE; \
                                vc_id = MODE_VC; \
								discontinuous_clk = "no"; \
								cil_settletime = "0"; \
								dpcm_enable = "false"; \
								active_h = "1200"; \
								active_w = "1920"; \
								mode_type = "bayer"; \
								readout_orientation = "0"; \
								csi_pixel_bit_depth = "10"; \
								dynamic_pixel_bit_depth = "10"; \
								pixel_phase = "grbg"; \
								line_length = "6248"; \
								mclk_multiplier = "3.01"; \
								pix_clk_hz = "229500000"; \
								serdes_pix_clk_hz = "299000000"; \
								inherent_gain = "1"; \
								min_gain_val = "100"; \
								max_gain_val = "1600"; \
								min_exp_time = "28"; \
								max_exp_time = "33000"; \
								min_hdr_ratio = "1"; \
								max_hdr_ratio = "1"; \
								min_framerate = "30000000"; \
								max_framerate = "60000000"; \
								embedded_metadata_height = "0"; \
								gain_factor = "100"; \
								default_gain = "100"; \
								step_gain_val = "1"; \
								exposure_factor = "1000000"; \
								default_exp_time = "13000"; \
								step_exp_time = "1"; \
								framerate_factor = "1000000"; \
								default_framerate = "30000000"; \
								step_framerate = "30000000"; \
				}; 
								
#define ZEDX_SENSOR_MODE1		mode1 { \
                                mclk_khz = "24000"; \
                                num_lanes = CAM_LANES_STRING; \
                                tegra_sinterface = TEGRA_SINTERFACE; \
                                vc_id = MODE_VC; \
								discontinuous_clk = "no"; \
								cil_settletime = "0"; \
								dpcm_enable = "false"; \
								active_h = "600"; \
								active_w = "960"; \
								mode_type = "bayer"; \
								readout_orientation = "0"; \
								csi_pixel_bit_depth = "10"; \
								dynamic_pixel_bit_depth = "10"; \
								pixel_phase = "grbg"; \
								line_length = "3124"; \
								mclk_multiplier = "3.01"; \
								pix_clk_hz = "229500000"; \
								serdes_pix_clk_hz = "299000000"; \
								inherent_gain = "1"; \
								min_gain_val = "100"; \
								max_gain_val = "1600"; \
								min_exp_time = "28"; \
								max_exp_time = "16000"; \
								min_hdr_ratio = "1"; \
								max_hdr_ratio = "1"; \
								min_framerate = "60000000"; \
								max_framerate = "120000000"; \
								embedded_metadata_height = "0"; \
								gain_factor = "100"; \
								default_gain = "100"; \
								step_gain_val = "1"; \
								exposure_factor = "1000000"; \
								default_exp_time = "8000"; \
								step_exp_time = "1"; \
								framerate_factor = "1000000"; \
								default_framerate = "120000000"; \
								step_framerate = "10000000"; \
				}; 
								
#define ZEDX_SENSOR_MODE2		mode2 { \
                                mclk_khz = "24000"; \
                                num_lanes = CAM_LANES_STRING; \
                                tegra_sinterface = TEGRA_SINTERFACE; \
                                vc_id = MODE_VC; \
								discontinuous_clk = "no"; \
								cil_settletime = "0"; \
								dpcm_enable = "false"; \
								active_h = "1080"; \
								active_w = "1920"; \
								mode_type = "bayer"; \
								readout_orientation = "0"; \
								csi_pixel_bit_depth = "10"; \
								dynamic_pixel_bit_depth = "10"; \
								pixel_phase = "grbg"; \
								line_length = "6248"; \
								mclk_multiplier = "3.01"; \
								pix_clk_hz = "229500000"; \
								serdes_pix_clk_hz = "299000000"; \
								inherent_gain = "1"; \
								min_gain_val = "100"; \
								max_gain_val = "1600"; \
								min_exp_time = "28"; \
								max_exp_time = "33000"; \
								min_hdr_ratio = "1"; \
								max_hdr_ratio = "1"; \
								min_framerate = "30000000"; \
								max_framerate = "60000000"; \
								embedded_metadata_height = "0"; \
								gain_factor = "100"; \
								default_gain = "100"; \
								step_gain_val = "1"; \
								exposure_factor = "1000000"; \
								default_exp_time = "13000"; \
								step_exp_time = "1"; \
								framerate_factor = "1000000"; \
								default_framerate = "30000000"; \
								step_framerate = "30000000"; \
				}; 
								
								
