/*
 * Copyright (c) 2023, Connect Tech Inc.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU General Public License,
 * version 2, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include "tegra234-orin-agx-cti-base.dtsi"

/{
    nvidia,dtsfilename = "tegra234-orin-agx-cti-AGX201.dts";

    //I2C7
    i2c@31c0000{
        status = "okay";
        //Dual Role Port USB Controller
        ptn5150@1d{
            reg = <0x1d>;
            compatible = "cti,ptn5150";
            status = "okay";
            interrupt-parent = <&tegra_main_gpio>;
            interrupts = <TEGRA234_MAIN_GPIO(Y, 4) IRQ_TYPE_LEVEL_LOW>;

            connector@0 {
                compatible = "usb-c-connector";
                label = "USB-C";
                data-role = "dual";

                //Supported Advertised Current Modes: "default" (900mA), "1.5A", "3.0A"
                power-opmode = "3.0A";
                port {
                    ptn5150_typec0_ep: endpoint {
                        remote-endpoint = <&usb_role_switch0>;
                    };
                };
            };
        };

        //Host Port USB Controller
        ptn5150@3d{
            reg = <0x3d>;
            compatible = "cti,ptn5150";
            status = "okay";

            connector@0 {
                compatible = "usb-c-connector";
                label = "USB-C";
                data-role = "host";
                power-opmode = "3.0A";
            };
        };

    };

    //MBGE0
    ethernet@6810000 {
        status = "okay";
    };

    //MBGE1
    ethernet@6910000 {
        status = "okay";
    };

    //1G
    ethernet@2310000 {
        status = "okay";
    };

    //PWM8 (PWM01)
    pwm@32f0000 {
        status = "okay";
    };

    //PWM1 (PWM02)
    pwm@3280000 {
        status = "okay";
    };

    //PWM5 (PWM03)
    pwm@32c0000 {
        status = "okay";
    };

    //UART_1
    serial@3100000 {
        status = "okay";
    };

    //UART_2
    serial@3140000{
        status = "okay";
    };

    //UART_4
    serial@3130000 {
        status = "okay";
    };

    //UART_5
    serial@3110000 {
        status = "okay";
    };

    //CAN0
    mttcan@c310000 {
        status = "okay";
    };

    //CAN1
    mttcan@c320000 {
        status = "okay";
    };

    //SPI_1
    spi@3210000 {
        status = "okay";
        spi@0 { /* chip select 0 */
            compatible = "tegra-spidev";
            reg = <0x0>;
            spi-max-frequency = <50000000>;
            controller-data {
                nvidia,enable-hw-based-cs;
                nvidia,rx-clk-tap-delay = <0x10>;
                nvidia,tx-clk-tap-delay = <0x0>;
            };
        };
    };

    //SPI_2
    spi@c260000 {
        status = "okay";
        spi@0 { /* chip select 0 */
            compatible = "tegra-spidev";
            reg = <0x0>;
            spi-max-frequency = <50000000>;
            controller-data {
                nvidia,enable-hw-based-cs;
                nvidia,rx-clk-tap-delay = <0x10>;
                nvidia,tx-clk-tap-delay = <0x0>;
            };
        };
    };

    xusb_padctl@3520000 {
        status = "okay";
        pads {
            usb2 {
                lanes {
                    usb2-0 {
                        status = "okay";
                    };
                    usb2-1 {
                        status = "okay";
                    };
                    usb2-2 {
                        status = "okay";
                    };
                    usb2-3 {
                        status = "okay";
                    };
                };
            };
            usb3 {
                lanes {
                    usb3-0 {
                        status = "okay";
                    };
                    usb3-1 {
                        status = "okay";
                    };
                    usb3-2 {
                        status = "okay";
                    };
                };
            };
        };
        ports {

            usb2-0 {
                mode = "otg";
                usb-role-switch;
                status = "okay";
                port {
                    usb_role_switch0: endpoint {
                        remote-endpoint = <&ptn5150_typec0_ep>;
                    };
                };
            };

            usb2-1 {
                mode = "host";
                status = "okay";
            };
            usb2-2 {
                mode = "host";
                status = "okay";
            };
            usb2-3 {
                mode = "host";
                status = "okay";
            };

            usb3-0 {
                nvidia,usb2-companion = <1>;
                status = "okay";
            };
            usb3-1 {
                nvidia,usb2-companion = <0>;
                status = "okay";
            };
            usb3-2 {
                nvidia,usb2-companion = <3>;
                status = "okay";
            };
        };
    };

    xudc@3550000 {
        status = "okay";
        phys =  <&{/xusb_padctl@3520000/pads/usb2/lanes/usb2-0}>,
                <&{/xusb_padctl@3520000/pads/usb3/lanes/usb3-1}>;
        phy-names = "usb2-0", "usb3-1";
    };

    xhci@3610000 {
        status = "okay";
        phys =  <&{/xusb_padctl@3520000/pads/usb2/lanes/usb2-0}>,
                <&{/xusb_padctl@3520000/pads/usb2/lanes/usb2-1}>,
                <&{/xusb_padctl@3520000/pads/usb2/lanes/usb2-2}>,
                <&{/xusb_padctl@3520000/pads/usb2/lanes/usb2-3}>,
                <&{/xusb_padctl@3520000/pads/usb3/lanes/usb3-0}>,
                <&{/xusb_padctl@3520000/pads/usb3/lanes/usb3-1}>,
                <&{/xusb_padctl@3520000/pads/usb3/lanes/usb3-2}>;
        phy-names = "usb2-0", "usb2-1", "usb2-2", "usb2-3",
                    "usb3-0", "usb3-1", "usb3-2";
    };

    //PCIe C1
    pcie@14100000 {
        status = "okay";
        num-lanes = <1>;
        phys = <&p2u_hsio_3>;
        phy-names = "p2u-0";
    };

    //PCIe C4
    pcie@14160000 {
        status = "okay";
        num-lanes = <4>;
        phys = <&p2u_hsio_4>, <&p2u_hsio_5>, <&p2u_hsio_6>, <&p2u_hsio_7>;
        phy-names = "p2u-0", "p2u-1", "p2u-2", "p2u-3";
    };

    //PCIe C5
    pcie@141a0000 {
        status = "okay";
        num-lanes = <4>;
        phys = <&p2u_nvhs_0>, <&p2u_nvhs_1>, <&p2u_nvhs_2>, <&p2u_nvhs_3>;
        phy-names = "p2u-0", "p2u-1", "p2u-2", "p2u-3";
    };

    pcie_ep@141a0000 {
        status = "disabled";
        num-lanes = <4>;
        phys = <&p2u_nvhs_0>, <&p2u_nvhs_1>, <&p2u_nvhs_2>, <&p2u_nvhs_3>;
        phy-names = "p2u-0", "p2u-1", "p2u-2", "p2u-3";

        reset-gpios = <&tegra_main_gpio TEGRA234_MAIN_GPIO(AF, 1) GPIO_ACTIVE_LOW>;

        nvidia,refclk-select-gpios = <&tegra_aon_gpio TEGRA234_AON_GPIO(AA, 4) GPIO_ACTIVE_HIGH>;
    };

    //PCIe C6
    pcie@141c0000{
        status = "okay";
        num-lanes = <4>;
        phys = <&p2u_nvhs_4>, <&p2u_nvhs_5>, <&p2u_nvhs_6>, <&p2u_nvhs_7>;
        phy-names = "p2u-0", "p2u-1", "p2u-2", "p2u-3";
    };

    //PCIe C7
    pcie@141e0000 {
        status = "okay";
        num-lanes = <1>;
        phys = <&p2u_gbe_0>;
        phy-names = "p2u-0";
    };

};

