#define SENSOR_MODE0					mclk_khz = "27000"; \
										phy_mode = "DPHY"; \
										discontinuous_clk = "no"; \
										dpcm_enable = "false"; \
										cil_settletime = "0"; \
										active_w = "4056"; \
										active_h = "3040"; \
										dynamic_pixel_bit_depth = "10"; \
										csi_pixel_bit_depth = "10"; \
										mode_type = "bayer"; \
										pixel_phase = "rggb"; \
										readout_orientation = "0"; \
										line_length = "4512"; \
										inherent_gain = "1"; \
										pix_clk_hz = "1110000000"; \
										gain_factor = "1000"; \
										min_gain_val = "1000"; \
										max_gain_val = "356176"; \
										step_gain_val = "1"; \
										default_gain = "1000"; \
										min_hdr_ratio = "1"; \
										max_hdr_ratio = "64"; \
										framerate_factor = "1000000"; \
										min_framerate = "1500000"; \
										max_framerate = "60000000"; \
										step_framerate = "1"; \
										default_framerate= "60000000"; \
										exposure_factor = "1000000"; \
										min_exp_time = "7"; \
										max_exp_time = "660000"; \
										step_exp_time = "1"; \
										default_exp_time = "10000"; \
										embedded_metadata_height = "2";

#define SENSOR_MODE1					mclk_khz = "27000"; \
										phy_mode = "DPHY"; \
										discontinuous_clk = "no"; \
										dpcm_enable = "false"; \
										cil_settletime = "0"; \
										active_w = "3840"; \
										active_h = "2160"; \
										dynamic_pixel_bit_depth = "10"; \
										csi_pixel_bit_depth = "10"; \
										mode_type = "bayer"; \
										pixel_phase = "rggb"; \
										readout_orientation = "0"; \
										line_length = "4512"; \
										inherent_gain = "1"; \
										pix_clk_hz = "1110000000"; \
										gain_factor = "1000"; \
										min_gain_val = "1000"; \
										max_gain_val = "356176"; \
										step_gain_val = "1"; \
										default_gain = "1000"; \
										min_hdr_ratio = "1"; \
										max_hdr_ratio = "64"; \
										framerate_factor = "1000000"; \
										min_framerate = "1500000"; \
										max_framerate = "84000000"; \
										step_framerate = "1"; \
										default_framerate= "60000000"; \
										exposure_factor = "1000000"; \
										min_exp_time = "7"; \
										max_exp_time = "660000"; \
										step_exp_time = "1"; \
										default_exp_time = "10000"; \
										embedded_metadata_height = "2";
										
#define SENSOR_MODE2					mclk_khz = "27000"; \
										phy_mode = "DPHY"; \
										discontinuous_clk = "no"; \
										dpcm_enable = "false"; \
										cil_settletime = "0"; \
										active_w = "1280"; \
										active_h = "720"; \
										dynamic_pixel_bit_depth = "10"; \
										csi_pixel_bit_depth = "10"; \
										mode_type = "bayer"; \
										pixel_phase = "rggb"; \
										readout_orientation = "0"; \
										line_length = "4512"; \
										inherent_gain = "1"; \
										pix_clk_hz = "1110000000"; \
										gain_factor = "1000"; \
										min_gain_val = "1000"; \
										max_gain_val = "356176"; \
										step_gain_val = "1"; \
										default_gain = "1000"; \
										min_hdr_ratio = "1"; \
										max_hdr_ratio = "64"; \
										framerate_factor = "1000000"; \
										min_framerate = "1500000"; \
										max_framerate = "60000000"; \
										step_framerate = "1"; \
										default_framerate= "60000000"; \
										exposure_factor = "1000000"; \
										min_exp_time = "7"; \
										max_exp_time = "660000"; \
										step_exp_time = "1"; \
										default_exp_time = "10000"; \
										embedded_metadata_height = "2";

#define SENSOR_MODE3					mclk_khz = "27000"; \
										phy_mode = "DPHY"; \
										discontinuous_clk = "no"; \
										dpcm_enable = "false"; \
										cil_settletime = "0"; \
										active_w = "1920"; \
										active_h = "1080"; \
										dynamic_pixel_bit_depth = "10"; \
										csi_pixel_bit_depth = "10"; \
										mode_type = "bayer"; \
										pixel_phase = "rggb"; \
										readout_orientation = "0"; \
										line_length = "4512"; \
										inherent_gain = "1"; \
										pix_clk_hz = "1110000000"; \
										gain_factor = "1000"; \
										min_gain_val = "1000"; \
										max_gain_val = "356176"; \
										step_gain_val = "1"; \
										default_gain = "1000"; \
										min_hdr_ratio = "1"; \
										max_hdr_ratio = "64"; \
										framerate_factor = "1000000"; \
										min_framerate = "1500000"; \
										max_framerate = "249000000"; \
										step_framerate = "1"; \
										default_framerate= "240000000"; \
										exposure_factor = "1000000"; \
										min_exp_time = "7"; \
										max_exp_time = "660000"; \
										step_exp_time = "1"; \
										default_exp_time = "10000"; \
										embedded_metadata_height = "2";

#define SENSOR_MODE4					mclk_khz = "27000"; \
										phy_mode = "DPHY"; \
										discontinuous_clk = "no"; \
										dpcm_enable = "false"; \
										cil_settletime = "0"; \
										active_w = "4056"; \
										active_h = "3040"; \
										dynamic_pixel_bit_depth = "12"; \
										csi_pixel_bit_depth = "12"; \
										mode_type = "bayer"; \
										pixel_phase = "rggb"; \
										readout_orientation = "0"; \
										line_length = "4512"; \
										inherent_gain = "1"; \
										pix_clk_hz = "1110000000"; \
										gain_factor = "1000"; \
										min_gain_val = "1000"; \
										max_gain_val = "356176"; \
										step_gain_val = "1"; \
										default_gain = "1000"; \
										min_hdr_ratio = "1"; \
										max_hdr_ratio = "64"; \
										framerate_factor = "1000000"; \
										min_framerate = "1500000"; \
										max_framerate = "44000000"; \
										step_framerate = "1"; \
										default_framerate= "44000000"; \
										exposure_factor = "1000000"; \
										min_exp_time = "7"; \
										max_exp_time = "660000"; \
										step_exp_time = "1"; \
										default_exp_time = "10000"; \
										embedded_metadata_height = "2";

#define SENSOR_MODE5					mclk_khz = "27000"; \
										phy_mode = "DPHY"; \
										discontinuous_clk = "no"; \
										dpcm_enable = "false"; \
										cil_settletime = "0"; \
										active_w = "3840"; \
										active_h = "2160"; \
										dynamic_pixel_bit_depth = "12"; \
										csi_pixel_bit_depth = "12"; \
										mode_type = "bayer"; \
										pixel_phase = "rggb"; \
										readout_orientation = "0"; \
										line_length = "4512"; \
										inherent_gain = "1"; \
										pix_clk_hz = "1110000000"; \
										gain_factor = "1000"; \
										min_gain_val = "1000"; \
										max_gain_val = "356176"; \
										step_gain_val = "1"; \
										default_gain = "1000"; \
										min_hdr_ratio = "1"; \
										max_hdr_ratio = "64"; \
										framerate_factor = "1000000"; \
										min_framerate = "1500000"; \
										max_framerate = "61000000"; \
										step_framerate = "1"; \
										default_framerate= "60000000"; \
										exposure_factor = "1000000"; \
										min_exp_time = "7"; \
										max_exp_time = "660000"; \
										step_exp_time = "1"; \
										default_exp_time = "10000"; \
										embedded_metadata_height = "2";

#define SENSOR_MODE6					mclk_khz = "27000"; \
										phy_mode = "DPHY"; \
										discontinuous_clk = "no"; \
										dpcm_enable = "false"; \
										cil_settletime = "0"; \
										active_w = "1280"; \
										active_h = "720"; \
										dynamic_pixel_bit_depth = "12"; \
										csi_pixel_bit_depth = "12"; \
										mode_type = "bayer"; \
										pixel_phase = "rggb"; \
										readout_orientation = "0"; \
										line_length = "4512"; \
										inherent_gain = "1"; \
										pix_clk_hz = "1110000000"; \
										gain_factor = "1000"; \
										min_gain_val = "1000"; \
										max_gain_val = "356176"; \
										step_gain_val = "1"; \
										default_gain = "1000"; \
										min_hdr_ratio = "1"; \
										max_hdr_ratio = "64"; \
										framerate_factor = "1000000"; \
										min_framerate = "1500000"; \
										max_framerate = "44000000"; \
										step_framerate = "1"; \
										default_framerate= "30000000"; \
										exposure_factor = "1000000"; \
										min_exp_time = "7"; \
										max_exp_time = "660000"; \
										step_exp_time = "1"; \
										default_exp_time = "10000"; \
										embedded_metadata_height = "2";

#define CAM_DATA						physical_w = "10.70"; \
								physical_h = "8.50"; \
								post_crop_frame_drop = "0"; \
								use_decibel_gain = "false"; \
								delayed_gain = "false"; \
								use_sensor_mode_id = "false";
								
