#define SENSOR_MODE0				discontinuous_clk = "no";	\
									cil_settletime = "0";	\
									embedded_metadata_height = "0";	\
									mclk_khz = "24000";	\
									phy_mode = "DPHY";	\
									dpcm_enable = "false";	\
									active_w = "5488";	\
									active_h = "4112";	\
									pixel_t = "bayer_bggr";	\
									readout_orientation = "0";	\
									csi_pixel_bit_depth = "4"; \
									line_length = "5488";	\
									inherent_gain = "1";	\
									mclk_multiplier = "31.25";	\
									pix_clk_hz = "750000000";	\
									gain_factor = "16";	\
									framerate_factor = "1000000";	\
									exposure_factor = "1000000";	\
									min_gain_val = "16";	\
									max_gain_val = "256";	\
									step_gain_val = "1";	\
									min_hdr_ratio = "1";	\
									max_hdr_ratio = "64";	\
									min_framerate = "1500000";	\
									max_framerate = "30000000";	\
									step_framerate = "1";	\
									min_exp_time = "34";	\
									max_exp_time = "550385";	\
									step_exp_time = "1";
